body{
    font-family: "Montserrat";
}
#title{
    background-color: #ff4c6e;
    color: #fff;
    margin-bottom: 100px;
}
h1, h2, h3{
    font-family: "Montserrat-Bold";
    /* font-family: "Montserrat-Black";
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: bold; */
    /* color: antiquewhite; */
}
h2{
    font-size: 2.5rem;
    line-height: 1.2;
}
h3{
    font-size: 1.5rem;
    /* font-weight: bold; */
}
p{
    color: #8f8f8f;
}
.big-heading{
    font-family: "Montserrat-Bold";
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: bold;
    
}
.container-fluid{
    padding: 3% 15% ;
}
/* navigation bar section*/

.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;

}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}
/* download buttons */
.download-button{
    /* top down left, right */
    margin: 5% 3% 5% 0; 
}

/* title img */
.title-img{
    width: 60%;
    /* height: 100%; */
    transform: rotate(25deg);
    /* position: relative; */
    right: 60px;
    /* z-index: -1; */
}
/* Features section */
#features{
    padding: 7% 15%;
    background-color: #ffff;
    /* position: absolute;
    z-index: 1; */

}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color: #ff4c6e;
    margin-bottom: 1rem;
    width: 100%;
}
/* to hover */
.icon:hover{
    color: rgba(221, 58, 17, 0.925);
    cursor: pointer;
}

/* Testimonial section */
#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ff4c6e;
    color: #ffff;
}
.testimonial-img{
    width: 50%;
    border-radius: 100%;
    margin: 20px;
}
/* press */
.carousel-item{
    padding: 7% 15%;
}

#press{
    background-color: #ff4c6e;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
/* pricing section */
#pricing{
    padding:100px;
    text-align: center;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}
.pricing-column{
    padding: 3% 2%;
}
/* footer */
#cta{
    text-align: center;
    background-color: #ff4c6e;
    font-weight: bold;
    padding: 5% 15%;
}
.cta-heading{
    font-family: "Montserrat-Bold";
    line-height: 1.5em;
}
#footer{
    text-align: center;
    font-family: "Montserrat-Bold";
    padding: 5% 15%;
    /* color: #fff; */

}
.icon-footer{
    margin: 10px 20px
}
.footer-p{
    font-weight: 2rem;
    color: #000;
}
/* media query */
@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: rotate(0);
    }
}